{% comment %}
  Receives an array of contributions and uses them to build a list of contributors
{% endcomment %}

{% for contribution_types in contributions %}
  {%- liquid
    assign contributors = contribution_types['contributors']
    assign contributors_size = contributors | size
    assign onix_code = contribution_types['onix_code']
    assign label = onix_code | prepend: "contributions.onix." | t

    if hide_secondary_contributions and onix_code != "A01" and onix_code != "A02" and onix_code != "B01"
      continue
    endif

    if contributors_size == 0
      continue
    endif
  -%}

  <p class="{{ classname }}">
    {{ label }}
    {% for contributor in contributors %}
      {%- liquid
        assign full_handle = 'authors/' | append: contributor.handle
        assign name = contributor.name
        assign article = articles[full_handle]
        assign second_to_last = forloop.length | minus: 1
      -%}
      {% if article != blank and linked == true -%}
        {{- name | link_to: article.url, class: 'underline' -}}
      {%- else -%}
        {{- name -}}
      {%- endif -%}
      {%- if forloop.last == true %}{% elsif forloop.index == second_to_last %} and {% else %}, {% endif %}
    {% endfor %}
  </p>
{% endfor %}
