{% assign label_id = "cart-heading" %}

<div
  data-ref="dialog"
  role="dialog"
  aria-modal="true"
  aria-labelledby="{{ label_id }}"
  id="{{ id }}"
  class="c-cart c-cart--drawer{% if cart == empty %} is-empty{% endif %} a-bg-default l-drawer"
>
  {% render 'cart-header', context: 'drawer', label_id: label_id %}
  {% render 'cart-items', context: 'drawer' %}
  {% render 'cart-recommendations', context: 'drawer' %}
  {% render 'cart-footer', context: 'drawer' %}
</div>
