<svg
    width="68.1119"
    height="66.16"
    viewBox="0 0 68.1119 66.16"
    xmlns="http://www.w3.org/2000/svg"
    class="hidden headerBreak:block fill-primary {{ classname }}"
>
    <title>{{ 'general.logo_title' | t }}</title>
    <path
        d="M6.128,63.872,2.96,56.72a1.61368,1.61368,0,0,1-.176-.64c0-.496.384-.656,1.488-.688v-.624H0v.624c.448.064.784.16.976.592l4.592,10.16h.48l4.24-10.16c.192-.432.512-.528.976-.592v-.624H7.632v.624c1.12.032,1.504.208,1.504.704a1.84258,1.84258,0,0,1-.176.64Zm16.9956-1.808V58.448h-.544c-.16.96-.448,1.44-1.152,1.44h-2.72V55.504h3.056c1.296,0,1.744.544,2.32,1.936h.432V54.768h-8.976v.624c1.072.032,1.632.192,1.632,1.168v7.648c0,.976-.56,1.136-1.632,1.168V66h9.056l.48-2.88h-.448c-1.024,1.68-1.296,2.144-2.704,2.144h-1.6c-1.136,0-1.616-.224-1.616-1.088V60.624h2.72c.704,0,.992.48,1.152,1.44Zm11.0125-6.56c2.032,0,2.88,1.056,2.88,2.416,0,1.648-.912,2.48-2.816,2.48h-1.12V55.504Zm-4.224-.736v.624c1.072.032,1.632.192,1.632,1.168v7.648c0,.976-.56,1.136-1.632,1.168V66h4.784v-.624c-1.04-.032-1.616-.192-1.616-1.168V61.104h.848l2.704,3.488A5.01187,5.01187,0,0,0,38.0881,66h2.288v-.624a2.81676,2.81676,0,0,1-2.064-1.136l-2.688-3.344a3.14345,3.14345,0,0,0,3.088-2.976c0-1.856-1.248-3.152-4.096-3.152ZM48.5275,66.16c2.128,0,3.92-1.12,3.92-3.168,0-1.776-1.12-2.608-3.472-3.472-1.984-.736-2.528-1.232-2.528-2.32a1.77928,1.77928,0,0,1,2.032-1.792c1.552,0,2.512,1.104,2.88,2.656h.528V55.616a6.06868,6.06868,0,0,0-3.328-1.008c-2.24,0-3.504,1.312-3.504,3.008,0,1.808,1.152,2.576,3.28,3.36,1.936.72,2.656,1.232,2.656,2.336,0,1.312-.912,2.048-2.416,2.048-1.632,0-2.608-1.248-3.088-2.928h-.56l.112,2.624A5.61284,5.61284,0,0,0,48.5275,66.16Zm14.4644-.88c-2.656,0-3.76-2.496-3.76-4.944,0-2.736,1.136-4.848,3.408-4.848,2.656,0,3.76,2.496,3.76,4.944C66.3999,63.168,65.2639,65.28,62.9919,65.28Zm-.128-10.672c-2.912,0-5.344,2.336-5.344,6,0,2.976,1.936,5.552,5.248,5.552,2.912,0,5.344-2.336,5.344-6C68.1119,57.184,66.1759,54.608,62.8639,54.608Z"
        class="logo-text"
    />
    <path
        d="M11.9196.25664c-.3009.15044,22.1947,0,22.1947,0L43.132,20.885,52.3886,0h6.531L39.0789,47H32.8134S12.2293.1062,11.9196.25664Z"
    />
</svg>
