{% render 'details-block' title: article.metafields.verso_api.display_title.value, description: article.content, image: article.image, layout: "grid" %}

{%- if article.metafields.verso_api.authored_books.value != blank -%}
    <section class="a-bg-default">
        <div class="l-container l-container--max">
            {%- liquid
                assign section_title = 'sections.main-author-article.authored_books' | t
                render 'section-title', title: section_title
                render 'product-grid', products: article.metafields.verso_api.authored_books.value
            -%}
        </div>
    </section>
{%- endif -%}

{%- if article.metafields.verso_api.translated_books.value != blank -%}
    <section class="a-bg-default">
        <div class="l-container l-container--max">
            {%- liquid
                assign section_title = 'sections.main-author-article.translated_books' | t
                render 'section-title', title: section_title
                render 'product-grid', products: article.metafields.verso_api.translated_books.value
            -%}
        </div>
    </section>
{%- endif -%}

{%- if article.metafields.verso_api.edited_books.value != blank -%}
    <section class="a-bg-default">
        <div class="l-container l-container--max">
            {%- liquid
                assign section_title = 'sections.main-author-article.edited_books' | t
                render 'section-title', title: section_title
                render 'product-grid', products: article.metafields.verso_api.edited_books.value
            -%}
        </div>
    </section>
{%- endif -%}

{%- if article.metafields.verso_api.secondary_contributor_books.value != blank -%}
    <section class="a-bg-default">
        <div class="l-container l-container--max">
            {%- liquid
                assign section_title = 'sections.main-author-article.contributed_books' | t
                render 'section-title', title: section_title
                render 'product-grid', products: article.metafields.verso_api.secondary_contributor_books.value
            -%}
        </div>
    </section>
{%- endif -%}


{%- liquid
    assign author_handle = article.handle | replace: 'authors/', ''
    assign author_tag = author_handle | prepend: 'author-'
    assign title = 'sections.main-author-article.related_articles' | t
-%}

<related-articles data-blog="news" data-tag="{{ author_tag }}" class="a-bg-default" inert>
    <div class="l-container l-container--max">
        {%- render 'section-title', title: title -%}
        <ul data-ref="list" class="l-grid l-grid--3"></ul>
    </div>
    <div data-ref="view-all" class="c-load-more l-container l-container--narrow" hidden>
        <a class="c-button c-button--filled c-button--large">
        {{ 'sections.main-author-article.view_all_related_posts' | t }}
        </a>
    </div>
</related-articles>

{% schema %}
{
  "name": "t:sections.author-article.name",
  "class": "a-bg-default"
}
{% endschema %}
