<div class="l-container l-container--max">
  {%- if current_tags -%}
    {% render 'author-tagged-list', blog: blog %}
  {%- else -%}
    {% render 'author-list', tags: blog.all_tags, featured_author_menu: section.settings.author_grid_featured_menu %}
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-author-list.name",
  "tag": "section",
  "class": "a-bg-default",
  "settings": [
    {
      "type": "link_list",
      "id": "author_grid_featured_menu",
      "default": "footer",
      "label": "t:sections.main-author-list.settings.menu.label"
    }
  ]
}
{% endschema %}
